body {
    background-color: white;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}
.container{
    background-color: white;
}
/*img{*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    padding: 5px;*/
/*    margin-bottom: 10px;*/
/*}*/
.btn-group .button {
    margin: 2px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5{
    text-align: center;
}

a {
    color: black;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

a:hover {
    color: #c9485b;
}
li{
    list-style: none;
}

.content{
    background: #ffffff;
    /*padding: 3.4rem 0 2.6rem 0;*/
}
.main-content{
    margin: 0 6rem 0;
    padding: 2rem;
}
.side-content{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
footer{
    background-color: whitesmoke;
}
.heading{
    color: grey;
    margin: 3rem 6rem 1rem;
    padding: 1rem;
}
.heading>a>h1{
    text-align: left;
    font-size: 80px;
    color: #d9adad;
}
hr{
    border-style: dashed;
}

.form{
    padding: 10px;
}
.body{
    padding: 3rem;
    margin-right: 4rem;
    margin-left: 4rem;
}
.image{
    padding: 20px;
}