<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: main-head('Posts')"></head>
</head>
<body>
<nav th:replace="fragments/nav :: navbar" />
<main class="container">
    <div class="post">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}">
        <p>Created by <span th:text="${post.owner.firstName}"></span></p>
    </div>
    <button th:action="${'/posts/'+ post.id +'/update'}" method="GET" class="btn-primary">Edit</button>
    <button th:action="${'/posts/'+ post.id +'/delete'}" method="POST" class="btn-danger">Delete</button>

<!--    <form th:action="${'/posts/'+ post.id +'/delete'}" method="POST">-->
<!--        <input type="submit" class="btn-danger" value="Delete Post">-->
<!--    </form>-->
    <form th:action="${'/posts/'+ post.id +'/update'}" method="GET" >
        <input type="submit" value="Edit Post" class="btn-primary">
    </form>
</main>

<nav th:replace="fragments/footer :: footer" />
</body>
</html>