<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid ">
<!--                <a class="navbar-brand" href="#">Home</a>-->
                    <ul class="navigation">
                        <li><a th:href="@{/posts}">HOME</a></li>
                        <li><a th:href="@{/posts/show}">POSTS</a></li>
                        <li><a href="">PROFILE</a></li>
                        <form th:action="@{/login}" th:method="get">
                            <button class="btn-link btn" style="margin-top: 16px">LOGIN</button>
                        </form>
                        <li>
                            <form th:action="@{/logout}" th:method="post">
                                <button class="btn-link btn" style="margin-top: 16px">LOGOUT</button>
                            </form>
                        </li>
                    </ul>

                <form class="d-flex" th:action="@{/posts/search}" th:method="POST">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>

            </div>
        </nav>




</body>
</html>