<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: main-head('Login')"></head>
</head>
<body>
<nav th:replace="fragments/nav :: navbar" />
<div class="col-12" th:replace="fragments/nav :: heading"></div>
<main class="content">
<h1>Log In</h1>
    <div class="main-content">
        <div th:if="${param.error}">
            Invalid Username and Password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <form th:action="@{/login}" method="post" >
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" />
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" />
            </div>
            <br>
            <button>Log In</button>
        </form>
    </div>
</main>
<nav th:replace="fragments/footer :: footer" />
</body>
</html>