<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: main-head('Sign Up!')"></head>
</head>
<body>
<nav th:replace="fragments/nav :: navbar" />
<div class="col-12" th:replace="fragments/nav :: heading"></div>
<main class="content">
<h1>Create an account</h1>
    <div class="main-content">
            <form th:action="@{/sign-up}" method="POST" th:object="${user}">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" th:field="*{firstName}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" th:field="*{lastName}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" th:field="*{username}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" th:field="*{email}" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}" class="form-control" />
                </div>

                <br>
                <button>Sign me up!</button>
            </form>
    </div>
</main>
    <nav th:replace="fragments/footer :: footer" />
</body>
</html>